.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 50px;
}

div.topview {
    background-image: url("Snapshot/1.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    content: " ";
    display: block;
    opacity: 0.8;
    background-size: cover;
    height: 50vh;
    width: 100%;
    
} 
.bases {
    text-align: center;
}
.side-note {
    /* margin: 15px 5px 0 45px; */
    color: blue;
}
.put {
    text-align: center;
    font-size: 40px;
}
h1 {
    color: white;
    font-size: 30px
}
p {
    color: whitesmoke;
    font-weight: bold;
    justify-self: flex-start;
    line-height: 1.6;
}
.botttomview {
    
    height: 60vh;
    display: flex;
    justify-content: center;
}
.first, .second {
    display: flex;
    justify-content: center;
    
    
}

/* Image styles used */
img{
    max-width: 150px;
    margin: 5px;
}



/* Button styles used */
.header-button {
    color: white;
    background-color: rgb(235, 56, 56);
}

button {
    border-radius: 50px;
    margin: 10px;
    padding: 5px 30px;
    border: none;
}

.button {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.blue {
    color: white;
    background-color:   #36b8fe;
    margin-bottom: 30px;
}

.botton-btn {
    border: 1px solid  #36b8fe ;
    background-color: white;
    margin-bottom: 30px;
}
.bases-button {
    margin-left: 390px;
    color: white;
    background-color:  #36b8fe;
    padding: 10px 30px;
}